  {{>breadcrumb}}
    
  
  <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{{owner}}}</span></h1>
  
  
  <p>Welcome, {{{owner}}}.</p>    

  <div class="tabs">
  
  
    <div class="tabs-nav">
      
      <ul class="tabs-list">
        <li class="active"><a href="#tab-1">Businesses</a></li>
        <li><a href="#tab-2">Messages (2)</a></li>
        <li><a href="#tab-3">Personal details</a></li>
      </ul>
      
    </div>
    
    
    <div class="tabs-content">
    
    
      <div class="tabs-panel" id="tab-1">
      
      
        <div class="tabs-panel-inner">
      
      
          <div class="grid-row">
        
        
            <div class="column-two-thirds">
              
              
              <h2 class="heading-large">Businesses</h2>
              
              
              <form class="form">
              
                <div class="form-group">
                  
                  <fieldset>
        
                    <legend class="form-label">Search by business name or <abbr title="Single Business Identifier">SBI</abbr></legend>
                    
                    <span class="form-hint">For example, 'Hansels Farm', or SJ8063 4774</span>
                    
                    <div class="form-search">
                      <input class="form-control" id="search" type="text">
                      <button class="button" type="submit">Search</button>
                    </div>
                  
                  </fieldset>
                
                </div>
              
              </form>
              
              
              <p class="text">We have listed below all of the business(es) you are associated with, or that you act on behalf of.</p>           
              
              
              <table>

          		  <caption class="visuallyhidden">Busnesses listing</caption>
  
          			<thead>
  
          				<tr>
          					<th scope="col">Business</th>
          					<th scope="col"><abbr title="Single Business Identifier">SBI</abbr></th>
          					<th scope="col"><span class="visuallyhidden">View business</span></th>
          				</tr>
  
          			</thead>
  
          			<tbody>
            			
            			{{#each businesses}}
            			<tr>
          					<th scope="row">{{{name}}}</th>
          					<td><span class="text-secondary">{{{sbi}}}</span></td>
          					<td class="action last"><a href="/your-account/view/{{id}}">View business <span class="visuallyhidden">{{{name}}}</span></a></td>
          				</tr>
          				{{/each}}
  
          			</tbody>
  
          		</table>
          		

          		<p><a class="button" href="#" role="button">Register a new business</a></p>
              
              
            </div>
            
            
            <div class="column-third">
              
              <div class="related">
    
                <div class="related-section">
                  
                  <h2 class="related-section-title">Help</h2>
                  
                  <ul class="related-section-links">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                  </ul>
                  
                  <h2 class="related-section-title">Quick links</h2>
                  
                  <ul class="related-section-links">
                    <li><a href="#">How to apply for BPS</a></li>
                    <li><a href="#">Cross compliance rules</a></li>
                    <li><a href="#">Rural Payments Agency</a></li>
                  </ul>
                  
                </div>
              
              </div>
              
            </div>
          
          </div>
        
        
        </div>          
        
        
      </div>
      
      
      <div class="tabs-panel" id="tab-2">
        
        
        <div class="tabs-panel-inner">
            
            
          <h2 class="heading-large">Messages</h2>
          
          
          <div class="messages">
          
          
            <div class="messages-filter">
              
              <label>
              
                Sort messages by
                
                <select>
                  <option value="newest">Newest on top</option>
                  <option value="oldest">Oldest on top</option>
                </select>
              
              </label>
              
            </div>
          
          
            <p>You have 2 new messages.</p>
            
            
            <div class="collapsible collapsible-borders">
        
        
              <div class="collapsible-item is-open">
                
                <div class="collapsible-heading">
                  
                  <h3>
                    <span class="collapsible-heading-primary messages-new">You have been given access to Agri Agents Ltd.</span> 
                    <span class="collapsible-heading-secondary">15 Sep 2014</span>
                  </h3>
                  
                </div>
                
                <div class="collapsible-content">
                  <div class="text">
                    <p>John Smith has given you permission to view and amend information about this business and make applications on their behalf.</p>
                    <p><a href="#" data-toggle="dialog" data-target="dialog-1">Delete this message</a>.</p>
                  </div>
                </div>
                
              </div>
              
              
              <div class="collapsible-item">
                
                <div class="collapsible-heading">
                  <h3>
                    <span class="collapsible-heading-primary messages-new">You have been given access to Bodmin Agri Ltd.</span> 
                    <span class="collapsible-heading-secondary">10 Sep 2014</span>
                  </h3>
                </div>
                
                <div class="collapsible-content">
                  <div class="text">
                    <p>John Smith has given you permission to view and amend information about this business and make applications on their behalf.</p>
                    <p><a href="#" data-toggle="dialog" data-target="dialog-1">Delete this message</a>.</p>
                  </div>
                </div>
                
              </div>
              
              
              <div class="collapsible-item">
                
                <div class="collapsible-heading">
                  <h3>
                    <span class="collapsible-heading-primary">Welcome to Rural Payments</span> 
                    <span class="collapsible-heading-secondary">5 Sep 2014</span>
                  </h3>
                </div>
                
                <div class="collapsible-content">
                  <div class="text">
                    <p>Fusce a risus libero. Nam risus purus, pharetra eget porttitor in, dictum ut enim. In auctor, purus vitae luctus tempor.</p>
                    <p><a href="#" data-toggle="dialog" data-target="dialog-1">Delete this message</a></p>
                  </div>
                </div>
                
              </div>
              
              
            </div>
            
          
          </div>                        
        
        
        </div>   
               
        
      </div>
      
      
      <div class="tabs-panel" id="tab-3">
      
      
        <div class="tabs-panel-inner">

          
          <h2 class="heading-large">Personal details</h2>

          
      		<table class="table-summary">
      
            <caption class="visuallyhidden">Business details listing</caption>
      
            <tbody>
      
              <tr>
                <th class="table-summary-title" scope="row">Full name</th>
                <td class="table-summary-content">Mr Sidney Bechet</td>
              </tr>
      
              <tr>
                <th class="table-summary-title" scope="row">Date of birth</th>
                <td class="table-summary-content">15 December 1977</td>
              </tr>
      
              <tr>
                <th class="table-summary-title" scope="row">National insurance number</th>
                <td class="table-summary-content">AA 12 34 57 C</td>
              </tr>
      
              <tr>
                <th class="table-summary-title" scope="row">Nationality</th>
                <td class="table-summary-content">British</td>
              </tr>
      
              <tr>
                <th class="table-summary-title" scope="row">Customer reference number</th>
                <td class="table-summary-content">1000000133</td>
              </tr>
      
              <tr>
                <th class="table-summary-title" scope="row">Personal identifier</th>
                <td class="table-summary-content">123456</td>
              </tr>
      
            </tbody>
      
          </table>
          
      
          <div class="text">
      
            <details>
      
      				<summary><span class="summary">Find out more about customer reference number</span></summary>
      
      				<div class="panel-indent">
      					<p>Quisque dignissim nisi eu lobortis ultricies. Phasellus feugiat augue consequat dolor aliquet pretium.</p>
      				</div>
      
      			</details>
      
          </div>
      
      
      		<h3 class="heading-medium">Contact details</h3>
      
      
          <table class="table-summary">
      
            <caption class="visuallyhidden">Business details listing</caption>
      
            <tbody itemtype="http://schema.org/Organization" itemscope>
      
              <tr>
                <th class="table-summary-title" scope="row">Address</th>
                <td class="table-summary-content" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
                  <div itemprop="streetAddress">Pooley Bridge</div>
                  <div itemprop="addressLocality">Penrith</div>
                  <div itemprop="addressRegion">Cumbria</div>
                  <div itemprop="postalCode">CH3 6NZ</div>
                  <div itemprop="addressCountry">United Kingdom</div>
                </td>
              </tr>
      
              <tr>
                <th class="table-summary-title" scope="row">Landline</th>
                <td class="table-summary-content" itemprop="telephone">07337938476</td>
              </tr>
      
              <tr>
                <th class="table-summary-title" scope="row">Mobile</th>
                <td class="table-summary-content" itemprop="telephone">07449654321</td>
              </tr>
      
              <tr>
                <th class="table-summary-title" scope="row">Email</th>
                <td class="table-summary-content" itemprop="email">defra-user-1@kainos.com</td>
              </tr>
      
            </tbody>
      
          </table>
      		
      		
      		<a class="button" href="/update-personal-details/">Update your details</a>
      		
      		
      		<div class="panel-indent">
                
            <p class="text">Defra is the data controller for personal data you give to us or we hold about you. We use it in line with the Data Protection Act. 
              For more information <a href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter" rel="external">visit our web site</a>.</p>
            
          </div>
          
          
        </div>
        
        
      </div>
      
    
    </div>
    
  
  </div>
  
  
	<div class="dialog" id="dialog-1" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-7" aria-describedby="dialog-content-1" role="alertdialog">

      <div class="dialog-content" id="dialog-content-1" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-1">Remove this message</h1>

        <form class="form">

          <p>Are you sure you want to remove this message?</p>

          <div class="dialog-actions">
            <button class="button">Yes</button>
            <a class="dialog-cancel" href="#">No</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>
  