<div id="global-breadcrumb">
  <ol>
    <li><a href="{{baseurl}}">{{title}}</a></li>
    {{#if section}}
    <li><a href="{{baseurl}}{{section}}/">{{#if section_name}}{{section_name}}{{/if}}</a></li>
    {{/if}}
    {{#if page_name}}
    <li>{{page_name}}</li>
    {{/if}}
  </ol>
</div>