<div id="global-breadcrumb">
  <ol>
    <li><a href="{{baseurl}}">{{title}}</a></li>
    {{#if section}}
    <li><a href="{{baseurl}}{{section}}/">{{#if section_name}}{{section_name}}{{/if}}</a></li>
    {{/if}}
    {{#if section2}}
    <li><a href="{{baseurl}}{{section2}}/">{{#if section2_name}}{{section2_name}}{{/if}}</a></li>
    {{/if}}
    {{#if section3}}
    <li><a href="{{baseurl}}{{section3}}/">{{#if section3_name}}{{section3_name}}{{/if}}</a></li>
    {{/if}}
    {{#if page_name}}
    <li>{{page_name}}</li>
    {{/if}}
  </ol>
</div>