		<a class="link-back" href="/pages/accountable-people/business-ownership/accountable-person/add/">Back to Add an accountable person</a>
    
    
    <div class="text">
      
      <h1 class="heading-xlarge">{{pagetitle}} <span class="heading-secondary">Beech Farm</span></h1>
      
    </div>
    
    
    <h2 class="heading-medium">Accountable person details</h2>
    
    <table class="table-summary">
    
      <caption class="visuallyhidden">Business details</caption>
      
      <tbody>
      
        <tr>
          <th class="table-summary-title" scope="row">Name</th>
          <td class="table-summary-content">
            {{#if firstname}}
              {{firstname}} {{lastname}}
            {{else}}
              Sydney Bechett
            {{/if}}</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Email</th>
          <td class="table-summary-content">
            {{#if email}}
              <a href="mailto:{{email}}">{{email}}</a>
            {{else}}
              <a href="mailto:defra-user-1@kainos.com">defra-user-1@kainos.com</a>
            {{/if}}
          </td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">National Insurance number</th>
          <td class="table-summary-content">{{ni}}</td>
        </tr>
        
        <!--tr>
          <th class="table-summary-title" scope="row">Role</th>
          <td class="table-summary-content">{{role}}</td>
        </tr-->
        
        <tr>
          <th class="table-summary-title" scope="row">&#37; share</th>
          <td class="table-summary-content">{{share}}</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">&#37; rights</th>
          <td class="table-summary-content">{{rights}}</td>
        </tr>
      
      </tbody>
    
    </table>
    
    
    <a class="button" href="/pages/accountable-people/business-ownership/accountable-person/summary/" role="button">Confirm</a>
    
    
    <p><a href="/pages/accountable-people/business-ownership/accountable-person/add/">Cancel</a></p>
    
    