    <a class="link-back" href="/accountable-people/">Back to the index</a>
    
    
    <h1 class="heading-xlarge">{{pagetitle}} <span class="heading-secondary">{{{owner}}}</span></h1>
    
    
    <h2 class="heading-medium">Accountable people</h2>
    
    
    <div class="alert-info text" role="alert">
    
      <div class="alert-message">
        <p>Have you told us about people accountable for this business? If you have not told us about your stakeholders, <span class="bold-small">any payments due to you may be withheld</span>.</p>
        <p>If you do not have permissions to change the details for the business(es) below, you will need to contact the business owner.</p>
      </div>
    
    </div>
    
    
    <div class="tabs tabs-alt">
    
      <div class="tabs-nav">
        
        <ul class="tabs-list">
          <li class="active"><a href="#tab-1">Overview</a></li>
          <li><a href="#tab-2">Messages</a></li>
        </ul>
        
      </div>
      
      <div class="tabs-content">
      
        <div class="tabs-panel" id="tab-1">
        
          <div class="grid-row">
          
            <div class="column-two-thirds">
              
              <h3 class="heading-medium">Search</h3>
              
              <form class="form">
              
                <div class="form-group">
                  
                  <fieldset>
        
                    <legend class="form-label">Search by business name or <abbr title="Single Business Identifier">SBI</abbr></legend>
                    
                    <span class="form-hint">For example, 'Hansels Farm', or SJ8063 4774</span>
                    
                    <div class="form-search">
                      <input class="form-control" id="search" type="text">
                      <button class="button" type="button">Search</button>
                    </div>
                  
                  </fieldset>
                
                </div>
              
              </form>

              
              <h3 class="heading-medium">Businesses</h3>
              
              <p>We have listed below all of the business(es) you are associated with, or that you act on behalf of.</p>
              
              
          		<table>

          		  <caption class="visuallyhidden">Busnesses listing</caption>
  
          			<thead>
  
          				<tr>
          					<th scope="col">Business</th>
          					<th scope="col"><span class="visuallyhidden">View business</span></th>
          				</tr>
  
          			</thead>
  
          			<tbody>
            			
            			{{#each businesses}}
            			<tr>
          					<th scope="row">{{{name}}} <br> <span class="text-secondary">{{{sbi}}}</span></th>
          					<td class="action last"><a href="/accountable-people/your-businesses/no/view/{{id}}">View business <span class="visuallyhidden">{{{name}}}</span></a></td>
          				</tr>
          				{{/each}}
  
          			</tbody>
  
          		</table>
              
              
            </div>
            
            <div class="column-third">
              
              <div class="related">
    
                <div class="related-section">
                  
                  <h2 class="related-section-title">Account options</h2>
                  
                  <ul class="related-section-links">
                    <li><a href="/">Update personal details</a></li>
                    <li><a href="/">Add business</a></li>
                  </ul>
                  
                </div>
              
              </div>
              
            </div>
          
          </div>
          
        </div>
        
        <div class="tabs-panel" id="tab-2">
            
          <h2 class="heading-medium">Messages</h2>
          
          <p>You have no new messaages</p>
          
          <div class="collapsible">

            <!-- item -->
            <div class="collapsible-item">
              
              <div class="collapsible-heading">
                <h3><span class="collapsible-heading-primary">Welcome to Rural Payments</span> <span class="collapsible-heading-secondary">5 Sep 2014</span></h3>
              </div>
              
              <div class="collapsible-content">
                <div class="text">
                  <p>Fusce a risus libero. Nam risus purus, pharetra eget porttitor in, dictum ut enim. In auctor, purus vitae luctus tempor.</p>
                </div>
              </div>
              
            </div>
            <!-- end -->
          
          </div>
          
        </div>
      
      </div>
    
    </div>