    <a class="link-back" href="/accountable-people/your-businesses/yes/">Back to Your businesses</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
         <h1 class="heading-xlarge">{{{business.name}}}</h1>
    
    
        <h2 class="heading-medium">Accountable people</h2>
        
        
        <div class="alert-info text" role="alert">
        
          <div class="alert-message">
            <p>Have you told us about people accountable for this business? If you have not told us about your stakeholders, <span class="bold-small">any payments due to you may be withheld</span>.</p>
            <p><a class="button" href="/accountable-people/overview/">Tell us about accountable people</a></p>
          </div>
        
        </div>
        
        
        <h2 class="heading-medium">Give access to this business</h2>
        
        
        <div class="text">
          
          <p>You can give people access to your business if you'd like them to complete your application for you.</p>
          
          <p>They'll need to give you their customer reference number, which they can get by registering with this service.</p>
          
          <p><a href="#">Give access to this business</a></p>
          
        </div>
        
        
      </div>
      
      
      <div class="column-third">
        
        
        <h2 class="heading-medium">Business details</h2>


        <div class="hcard" itemtype="http://schema.org/Organization" itemscope>
    
          <div itemprop="name">{{{business.name}}}</div>
    
          <div class="hcard-adr" itemtype="http://schema.org/PostalAddress" itemprop="address" itemscope>
            <div itemprop="streetAddress">{{{business.address.address1}}}</div>
            <div itemprop="addressLocality">{{{business.address.address2}}}</div>
            <div itemprop="addressRegion">{{{business.address.town}}}</div>
            <div itemprop="postalCode">{{{business.address.postcode}}}</div>
            <div itemprop="addressCountry">{{{business.address.country}}}</div>
          </div>
    
          <div itemprop="email"><a href="mailto:{{{business.address.email}}}">{{{business.address.email}}}</a></div>
          <div>Landline: <span itemprop="telephone">{{{business.address.landline}}}</span></div>
          <div>Mobile: <span itemprop="telephone">{{{business.address.mobile}}}</span></div>
    
        </div>
    
        
        <p><a href="#">View full business details</a></p>
            
            
      </div>
      
      
    </div>