    {{>breadcrumb}}
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">{{{business.name}}}</h1>
    
    
        <h2 class="heading-medium">Accountable people</h2>
        
        
        <details>
    
          <summary><span class="summary">What is an accountable person?</span></summary>
          
          <div class="panel-indent text">
            <p>An accountable person is anyone who has effective control of the business and benefits financially or is exposed to financial loss. This includes sole traders, directors, partners or shareholders.</p>          
          </div>
        
        </details>
        
        
        <div class="panel-indent text">
          <p>Have you told us about people accountable for this business?  If you have not told us, any payments due to the business for 2016 may be withheld.</p>
          <p><a class="button" href="#" role="button">Add an accountable person</a></p>
        </div>
        
        
        <h2 class="heading-medium">Give access to this business</h2>
        
        
        <div class="text">
          
          <p>You can give people access to your business if you'd like them to complete your application for you.</p>
          
          <p>They'll need to give you their customer reference number, which they can get by registering with this service.</p>
          
          <p><a href="#">Give access to this business</a></p>
          
        </div>
        
        
      </div>
      
      
      <div class="column-third">
        
        
        <h2 class="heading-medium">Business details</h2>


        <div class="hcard" itemtype="http://schema.org/Organization" itemscope>
    
          <div class="hcard-adr" itemtype="http://schema.org/PostalAddress" itemprop="address" itemscope>
            <div itemprop="streetAddress">{{{business.address.address1}}}</div>
            <div itemprop="addressLocality">{{{business.address.address2}}}</div>
            <div itemprop="addressRegion">{{{business.address.town}}}</div>
            <div itemprop="postalCode">{{{business.address.postcode}}}</div>
            <div itemprop="addressCountry">{{{business.address.country}}}</div>
          </div>
    
          <div itemprop="email"><a href="mailto:{{{business.address.email}}}">{{{business.address.email}}}</a></div>
          <div>Landline: <span itemprop="telephone">{{{business.address.landline}}}</span></div>
          <div>Mobile: <span itemprop="telephone">{{{business.address.mobile}}}</span></div>
    
        </div>
    
        
        <p><a href="#">View full business details</a></p>
            
            
      </div>
      
      
    </div>