		<a class="link-back" href="/pages/accountable-people/business-ownership/sole-trader/details/">Back to Sole trader details</a>
    
    
    <div class="text">
      
      <h1 class="heading-xlarge">{{pagetitle}} <span class="heading-secondary">Beech Farm</span></h1>
      
      <p class="lede">By declaring this business as being run by a sole trader you are telling us that this person is the only accountable person for this busness.</p>
      
    </div>
    
    
    <h2 class="heading-medium">Accountable person details</h2>
  
    
    <table class="table-summary">
    
      <caption class="visuallyhidden">Business details</caption>
      
      <tbody>
      
        <tr>
          <th class="table-summary-title" scope="row">Name</th>
          <td class="table-summary-content">
            {{#if firstname}}
              {{firstname}} {{lastname}}
            {{else}}
              Sydney Bechett
            {{/if}}
          </td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Email</th>
          <td class="table-summary-content">
            {{#if email}}
              <a href="mailto:{{email}}">{{email}}</a>
            {{else}}
              <a href="mailto:defra-user-1@kainos.com">defra-user-1@kainos.com</a>
            {{/if}}
          </td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">National Insurance number</th>
          <td class="table-summary-content">{{ni}}</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">&#37; share</th>
          <td class="table-summary-content">100</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">&#37; rights</th>
          <td class="table-summary-content">100</td>
        </tr>
      
      </tbody>
    
    </table>
    

    <a class="button" href="/pages/accountable-people/business-ownership/sole-trader/business-details/" role="button">Confirm</a>
    
    
    <p><a href="/pages/accountable-people/business-ownership/sole-trader/details/">Cancel</a></p>